@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;
  background-color: #202023;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.font-mplus {
  font-family: "M PLUS Rounded 1c", sans-serif !important;
}

.bg-alpha-200 {
  background: #ffffff14;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
